<!-- 共通フッター -->
<footer class="footer">
  <div class="container">
    <div class="row align-items-between">
      <div class="col-12">
        <span>
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script>
          tissueMO
        </span>
      </div>
      <div class="col-6">
        <!-- Facebook / Twitter -->
      </div>
    </div>
  </div>
</footer>
