<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading text-uppercase">Contact Me</h2>
    <h3 class="section-subheading text-muted">
      採用オファーや開発依頼のご相談等、お待ちしております。
    </h3>
  </div>
</div>
<div class="row">
  <% if (!contents.contact.open) { %>
  <div class="col-lg-12 text-center">
    <p>大変申し訳ございませんが、現在は一切のご連絡をお断りいたしております。</p>
  </div>
  <% } else { %>
  <div class="col-lg-12 text-center">
    <% for (const address of contents.contact.addresses) { %>
    <p class="js-contact-item">
      <%- address.icon %>
      <a class="js-address-link" href="<%- address.address %>" target="_blank">
        <span class="js-address-link-text"><%- address.title %></span><small><i class="material-icons ml-1">open_in_new</i></small>
      </a>
      <% if (address.encode) { %>
      <input type="hidden" class="js-encode" value="true">
      <% } %>
    </p>
    <% } %>
  </div>
  <% } %>
</div>
