@import "../../../node_modules/startbootstrap-agency/scss/base/page";

small {
  .material-icons {
    font-size: 18px;
  }
}

.page-section {
  h3 {
    &.section-subheading {
      font-style: normal;
      @include body-font;
    }
  }
}

section.page-section {
  .container.page-section {
    h3 {
      .h3 {
        position: relative;
        display: inline-block;
        margin-bottom: 5rem;

        &:before {
          content: '';
          position: absolute;
          display: inline-block;
          transform: translateX(-50%);
          left: 50%;
          bottom: -16px;
          width: 4rem;
          height: 2px;
          background-color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .last td:last-child {
    width: 100%;
  }
  .table {
    th {
      border-bottom: none;
      display: block;
      width: 100%;
    }
    td {
      border-bottom: none;
      text-align: left;
      display: block;
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;
      padding-top: 0;
    }
  }
}
