header.masthead {
  background-color: #111;
  background-image: none;
  color: #fff;

  .title-text {
    padding-top: 150px;

    .title-lead-in {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 10px;
      letter-spacing: 1px;
      @include serif-font;

      @media screen and (max-width: 576px) {
        font-size: 5vw;
      }
    }

    .title-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      letter-spacing: 2px;
      @include title-font;

      @media screen and (max-width: 576px) {
        font-size: 10vw;
      }
    }
  }

  i {
    font-size: 40px;
    margin-right: 20px;
  }

  .intro-text {
    width: 85%;
    padding-top: 50px;
    padding-bottom: 70px;

    .intro-heading {
      margin-bottom: 18px;
      @include body-font;
    }
    .intro-lead-in {
      color: #aaa;
      font-size: 0.9rem;
      @include body-font;
    }
  }
}

@media(min-width: 768px) {
  header.masthead {
    .title-text {
      padding-top: 250px;

      .title-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        @include serif-font;
      }

      .title-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 0px;
        @include title-font;
      }
    }

    i {
      font-size: 80px;
      margin-right: 32px;
    }

    .intro-text {
      width: 75%;
      padding-top: 100px;
      padding-bottom: 170px;
    }
  }
}
