@import "../../../node_modules/startbootstrap-agency/scss/layout/portfolio";

#portfolio {
  .portfolio-item {
    transition: all 0.5s;
    opacity: 1;
    height: auto;

    .portfolio-caption {
      p {
        font-style: normal;
      }
    }

    img.img-thumb {
      // アスペクト比を保ったまま拡縮に合わせて画像をCropする
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    * {
      transition: all 0.5s;
      opacity: 1;
      height: auto;
    }

    @media screen and (max-width: 576px) {
      // SP版のみデフォルトで表示件数を省略した表示にする
      &.portfolio-item-showmore {
        opacity: 0 !important;
        height: 0 !important;
        margin: 0 !important;

        * {
          opacity: 0 !important;
          height: 0 !important;
          margin: 0 !important;
        }
      }
    }
  }
}

.modal {
  .modal-content {
    .item-intro {
      @include body-font;
    }

    .swiper-wrapper {
      position: relative;

      * {
        outline: none;
      }

      .swiper-container {
        width: calc(100% - 100px);
        box-sizing: content-box;

        img {
          transition: all 0.5s;
          opacity: 0;

          &.swiper-lazy-loading {
            min-height: 100px;
          }
          &.swiper-lazy-loaded {
            opacity: 1;
          }
        }
      }

      .swiper-pagination {
        width: 100%;
        bottom: 14px;

        .swiper-pagination-bullet {
          margin-left: 3px;
          margin-right: 3px;
        }
      }

      .swiper-button-prev, .swiper-button-next {
        top: calc((100% - 50px) * 0.5);
        margin-top: -22px;
      }
    }
  }
}
