@import "../../../node_modules/startbootstrap-agency/scss/layout/portfolio";

#portfolio {
  .portfolio-item {
    .portfolio-caption {
      p {
        font-style: normal;
      }
    }

    img.img-thumb {
      // アスペクト比を保ったまま拡縮に合わせて画像をCropする
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
  }
}

.modal {
  .modal-content {
    .item-intro {
      @include body-font;
    }
  }
}
