@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

// ##### Swiper #####
@import "../../node_modules/swiper/css/swiper.min.css";

// ##### Bootstrap Agency #####
// Core variables and mixins
@import "../../node_modules/startbootstrap-agency/scss/base/variables.scss";
@import "./base/mixins";

// Global CSS
@import "../../node_modules/startbootstrap-agency/scss/base/page.scss";

// Components
@import "../../node_modules/startbootstrap-agency/scss/components/buttons.scss";
@import "./components/navbar";

// Layout
@import "../../node_modules/startbootstrap-agency/scss/layout/timeline.scss";
@import "./layout/portfolio";
@import "./layout/masthead";
@import "./layout/services";
@import "./layout/skills";
@import "./layout/contact";
@import "./layout/footer";


.page-section {
  h3 {
    &.section-subheading {
      font-style: normal;
      @include body-font;
    }
  }
}

section.page-section {
  .container.page-section {
    h3 {
      .h3 {
        position: relative;
        display: inline-block;
        margin-bottom: 4rem;

        &:before {
          content: '';
          position: absolute;
          display: inline-block;
          transform: translateX(-50%);
          left: 50%;
          bottom: -16px;
          width: 4rem;
          height: 2px;
          background-color: #000;
        }
      }
    }
  }
}

small {
  .material-icons {
    font-size: 18px;
  }
}

.dropdown-menu {
  &.show {
    transition: all 0.5s ease;
  }
}

.swiper-button-next, .swiper-button-prev {
  &:after {
    color: #ccc;
  }
}

@media screen and (max-width: 576px) {
  .last td:last-child {
    width: 100%;
  }
  .table {
    th {
      border-bottom: none;
      display: block;
      width: 100%;
    }
    td {
      border-bottom: none;
      text-align: left;
      display: block;
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;
      padding-top: 0;
    }
  }
}

#contact {
  p {
    a, i {
      font-size: 20px;
    }
  }
}
